.header-img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.main {
  margin-top: 40px;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
  color: #0fc46f;

}

.img-holder {
  border: 1px solid #000000;
  padding: 5px;
}

#letters {
  border: 1px dotted #000000;
  min-height: 100px;
}

.letter-box {
  border: 1px solid #000000;
  padding: 20px 10px 20px 10px;
  margin: 5px;
  display: inline-block;
}
